<%- include("partials/header"); -%>

	<div class="container heading">
		<h1>Prevent Information</h1>
		<p>This is how to prevent from Oral Cancer</p>
	</div>

	<div class="image-div">
		<img class="image" src="/images/orall2.jpeg" /><br /><br />
	</div>

	<div class="container pharagraph-text">
		<p>Preventing oral cancer involves several key strategies. Avoiding tobacco in all forms, including smoking, chewing,
			or snuff, is of paramount importance. If you currently use tobacco, quitting is the most effective way to reduce your risk.
			Moderating alcohol consumption, or abstaining altogether, is crucial, as excessive alcohol use in combination with tobacco
			significantly heightens the risk of oral cancer.</p><br>

		<p>Vaccination against certain strains of the human papillomavirus (HPV), particularly HPV-16 and HPV-18,
			is highly effective in preventing infections associated with oral cancer.
			Protecting your lips from prolonged sun exposure is another vital step. Use lip balm with UV protection and wear
			a wide-brimmed hat to shield your lips from harmful UV radiation.</p><br>

		<p>Maintaining a balanced diet rich in fruits and vegetables, which provide essential vitamins and antioxidants,
			helps protect against cell damage and reduces the risk of oral cancer. Regular dental check-ups and oral cancer
			screenings are essential for early detection. Your dentist can detect signs of oral cancer and offer guidance on preventive measures.</p>

		<p>If you have a family history of oral cancer, be vigilant about preventive strategies and
			discuss your risk with your healthcare provider. Additionally, avoiding other risk factors such as
			betel quid and areca nut, commonly used in some cultures, is important. Limiting exposure to industrial
			substances like formaldehyde can also contribute to prevention.</p>

		<p>Safe sexual practices, such as using barrier methods like condoms, reduce the risk of HPV transmission,
			further safeguarding against oral cancer. By incorporating these measures into your lifestyle, you can significantly lower
			your risk of developing oral cancer and enhance your overall oral health. Consulting with your healthcare provider or dentist
			for personalized guidance and support is advisable if you have concerns about oral cancer prevention.</p>	
	</div>

<%- include("partials/footer"); -%>
