<%- include("partials/header"); -%>

	<div class="container heading">
		<h1 style="text-align:center;">Disease Info</h1>
		<p style="text-align:center;">This is a directory of all the details about Oral Cancer,
			Posible Causes and Symptoms of it.</p>
	</div>

	<div class="image-div">
		<img class="image" src="/images/oral.png" /><br /><br />
	</div>

	<div class="container pharagraph-text">
		<p>Oral cancer is a malignancy that occurs in the mouth, including the lips, tongue, cheeks, and throat.
			It typically begins as a painless white or red patch, a sore that doesn't heal, or a lump in the mouth.
			Risk factors include tobacco and alcohol use, human papillomavirus (HPV) infection, and a family history of oral cancer.
			Early detection is crucial for successful treatment. Common treatments include surgery, radiation therapy, and chemotherapy.
			Symptoms may include difficulty swallowing, persistent mouth pain, changes in speech, and unexplained weight loss.
			Regular dental check-ups can aid in early detection. Lifestyle changes, such as quitting smoking and reducing alcohol consumption,
			can lower the risk of developing oral cancer. Education and awareness are key in preventing and managing this disease.<br></p>

		<h3>Symptoms</h3>
		<p>Oral cancer symptoms encompass mouth and throat issues, like persistent mouth sores, pain, or tenderness.
			Other signs involve changes in speech, swallowing difficulties, and chronic hoarseness.
			You might notice unexplained weight loss, lumps, or red or white patches in the mouth. In advanced cases,
			symptoms can extend to ear pain, numbness in the mouth, or even difficulty moving the jaw or tongue. Early
			recognition of these signs is essential, as they can indicate the presence of oral cancer, and prompt medical attention
			is crucial for successful treatment and improved outcomes.</p>

		<h3>Causes</h3>
		<p>Doctors aren't certain what causes most Oral cancers.</p>

		<p><strong>Tobacco Use :</strong>
			The most significant cause of oral cancer is tobacco use. Both smoking and
			chewing tobacco expose the oral cavity to harmful chemicals that can lead to cell damage and, over time,
			the development of malignancies. The risk is especially high for individuals who use tobacco regularly,
			making it a primary factor to address in prevention.</p>

		<p><strong>Alcohol Consumption :</strong>
		Excessive alcohol consumption is another major risk factor for oral cancer.
		What's particularly concerning is that when alcohol use is combined with tobacco use, the risk significantly escalates.
		It's crucial to moderate alcohol intake to reduce this risk and enhance overall oral health.</p>

		<p><strong>Gender and Age :</strong>
		Men are more susceptible to oral cancer than women, and the risk increases with age, with most cases occurring after the age of 40.
		Awareness of these demographic factors can help in tailoring prevention strategies and ensuring timely screenings.</p>

		<p><strong>Family History:</strong>
		If you have a close relative who has had oral cancer, your own risk may be higher.
		Understanding your family history is crucial, as it can be a key factor in early detection and preventive measures.</p>

		<p><strong>Human Papillomavirus (HPV) :</strong>
		Certain strains of the human papillomavirus (HPV), such as HPV-16 and HPV-18, can infect the oral mucosa.
		Infection with these HPV strains is known to increase the risk of oral cancer. 
		HPV vaccinations are available and can be an effective preventive measure against these infections.</p>
	</div>

	<%- include("partials/footer"); -%>
