<%- include("partials/header"); -%>

	<div class="container heading">
		<h1 style="text-align:center;">Disease Info</h1>
		<p style="text-align:center;">This is a directory of all the details about Oral Cancer,
			Posible Causes and Symptoms of it.</p>
	</div>

	<div class="image-div">
		<img class="image" src="/images/oral.png" /><br /><br />
	</div>

	<div class="container pharagraph-text">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod erat sit amet rhoncus malesuada.
			Nunc quis rutrum ex. Nullam euismod tincidunt justo, non dictum nisi maximus eu.
			Vivamus ornare urna neque, non lobortis diam mollis non. Ut facilisis a turpis a mattis.
			Duis ullamcorper fringilla varius. Vestibulum sit amet orci quis purus consectetur consequat
			vitae nec ex. Morbi volutpat dignissim eros, vitae bibendum tortor dignissim sed.<br></p>

		<h3>Symptoms</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod erat sit amet rhoncus malesuada.
			Nunc quis rutrum ex. Nullam euismod tincidunt justo, non dictum nisi maximus eu.
			Vivamus ornare urna neque, non lobortis diam mollis non. Ut facilisis a turpis a mattis.
			Duis ullamcorper fringilla varius. Vestibulum sit amet orci quis purus consectetur consequat
			vitae nec ex. Morbi volutpat dignissim eros, vitae bibendum tortor dignissim sed.</p>

		<h3>Causes</h3>
		<p>Doctors aren't certain what causes most Oral cancers.</p>

		<p>Fusce leo nibh, commodo et quam ac, bibendum commodo tortor. Ut in sodales risus. Aliquam tincidunt, velit ut ornare luctus, purus mi convallis sapien, at porta odio lorem ac ante. Vestibulum ac venenatis nisi. Cras interdum orci magna, eu
			convallis lectus tempor mattis. Ut lobortis at diam et ornare. Aliquam erat volutpat. Vestibulum sit amet ante blandit, mollis libero a, iaculis augue. Nunc id sollicitudin mauris. Fusce laoreet metus quis mollis hendrerit. Proin nec ligula
			interdum ligula tempus fermentum. Suspendisse auctor, libero quis egestas accumsan, ex justo ultrices purus, sit amet maximus elit metus quis diam. Morbi vitae purus lacus. Nullam non convallis eros. Praesent lectus leo, sollicitudin varius
			eleifend condimentum, tincidunt in odio. Suspendisse elementum ornare nunc, ut luctus massa placerat ac</p>
	</div>

	<%- include("partials/footer"); -%>
