<%- include("partials/header"); -%>

<div class="container heading">
	<h1 style="text-align:center;">Doctors Information</h1>
	<p style="text-align:center;">This is a directory of Oncology specialised Doctors and thier contact details.</p>
</div>

<section class="team-area area-padding">
	<div class="container doctors">
		<div class="area-heading row">
			<div class="col-md-5 col-xl-4">
				<h3>Oncology<br>
					Specialist Doctors</h3>
			</div>
			<div class="col-md-7 col-xl-8"></div>
		</div>

		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<div class="card card-team">
					<img class="card-img rounded-0" src="/images/team/dr_kanthi.jpeg" alt="" width="200" height="450">
					<div class="card-team__body text-center">
						<h3><a href="https://www.doc.lk/channel/2412?">Dr. K Perera</a></h3>
						<p>Oncologist</p>
						<a>+94 775 365 2365</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4">
				<div class="card card-team">
					<img class="card-img rounded-0" src="/images/team/dr_shama.jpg" alt="" width="200" height="450">
					<div class="card-team__body text-center">
						<h3><a href="https://www.doc.lk/profile/1148">Dr. S Goonatillake</a></h3>
						<p>Oncologist</p>
						<a>+94 765 565 2465</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4">
				<div class="card card-team">
					<img class="card-img rounded-0" src="/images/team/dr_w.jpg" alt="" width="200" height="450">
					<div class="card-team__body text-center">
						<h3><a href="https://www.doc.lk/channel/133?">Dr. W Ratnayake</a></h3>
						<p>Oncologist</p>
						<a>+94 711 365 2237</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>

<%- include("partials/footer"); -%>
