<%- include("partials/header"); -%>

<div class="container heading">
	<h1 style="text-align:center;">Doctors Information</h1>
	<p style="text-align:center;">This is a directory of Oncology specialised Doctors and thier contact details.</p>
</div>

<section class="team-area area-padding">
	<div class="container doctors">
		<div class="area-heading row">
			<div class="col-md-5 col-xl-4">
				<h3>Oncology<br>
					Specialised Doctors</h3>
			</div>
			<div class="col-md-7 col-xl-8"></div>
		</div>

		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<div class="card card-team">
					<img class="card-img rounded-0" src="/images/team/1.jpg" alt="">
					<div class="card-team__body text-center">
						<h3><a href="#">Dr. C Gunasekera</a></h3>
						<p>Oncologist</p>
						<a>+94 775 365 2365</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4">
				<div class="card card-team">
					<img class="card-img rounded-0" src="/images/team/2.jpg" alt="">
					<div class="card-team__body text-center">
						<h3><a href="#">Dr. S Goonatillake</a></h3>
						<p>Oncologist</p>
						<a>+94 765 565 2465</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4">
				<div class="card card-team">
					<img class="card-img rounded-0" src="/images/team/3.jpg" alt="">
					<div class="card-team__body text-center">
						<h3><a href="#">Dr. W Ratnayake</a></h3>
						<p>Oncologist</p>
						<a>+94 711 365 2237</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>

<%- include("partials/footer"); -%>
