<%- include("partials/header"); -%>

	<main role="main">
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-4">Hello! Lets Get Started with Oral Cancer Predictor</h1>
				<p>Welcome to Oral Cancer Predictor!, a risk predicting system for medical institutions
					to generate risk assessments for their patients. Oral Cancer Predictor started off as a
					final year research project of a Software Engineering Undergraduate which help users to chech
					thier risk probability of having a Oral Cancer according to their symptoms and medical test results.
					<a href="../templates/diagnosis.html">Click</a> here to learn about the Colon Cancer and it's early symptoms.
				</p>
			</div>
		</div>

		<div class="container">

			<div class="row">
				<div class="col-md-4">
					<h2>Cancer Prediction</h2>
					<p>Navigate to the "Cancer Prediction" section and add the corresponding details
						and click on predict to learn whether the patient is at the risk of this illness/disease.</p>
					<p><a class="btn btn-secondary btn-lg" href="/predict" role="button">Let's Predict &raquo;</a></p>
				</div>
			</div>
		</div>
		<hr>
	</main>

<%- include("partials/footer"); -%>
