<!DOCTYPE HTML>
<html>

<head>
    <title>Oral Cancer Predictor</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/landing.css">
</head>

<body class="is-preload">

    <div id="wrapper">

        <header id="header">

            <div class="content">
                <div class="inner">
                    <h1>ORAL CANCER PREDICTOR</h1>
                    <p>Oral cancer predictor is your Oral Healthcare Supporter.
                        To check cancer predictions, you can first login or register on the web application.</p>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href=/login>Login</a></li>
                    <li><a href=/register>Register</a></li>
                </ul>
            </nav>
        </header>

        <div id="main"></div>

        <footer id="footer">
            <p></p>
        </footer>

    </div>

    <div id="bg"></div>

    <script src="/js/landjquery.min.js"></script>
    <script src="/js/landbrowser.min.js"></script>
    <script src="/js/landbreakpoints.min.js"></script>
    <script src="/js/landutil.js"></script>
    <script src="/js/landmain.js"></script>

</body>

</html>
