<%- include("partials/loginsHeader"); -%>

<div class="form-container">
  <div class="login-form">
    <form action="/login" method="POST">
      <h3>Login Now</h3>
      <input type="email" name="username" required placeholder="Enter your email" required>
      <input type="password" name="password" required placeholder="Enter your password" required>
      <button type="submit" class="btn btn-secondary btn-lg btn-block big-btn">Login Now</button>
    </form>

    <div class="social-buttons">
      <a href="/auth/google" class="btn-sm social-button">
        <img src="/images/logins/google_login.jpg" alt="Google Logo" class="social-logo">
      </a>

      <a href="#" class="btn-sm social-button">
        <img src="/images/logins/facebook_login.jpg" alt="Facebook Logo" class="social-logo">
      </a>
    </div>

    <div class="redirect-to">
      <p>Don't have an account? <a href="/register">Register now</a></p>
    </div>

  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
