<%- include("partials/header"); -%>

<div class="container form-body">

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="text-center">Let's Check Your Cancer Propability</h1>

            <div class="row">
                <form action='/predict' method="post" class="col-md-8 offset-md-2">

                    <div class="form-row ro">

                        <div class="form-group col-md-4">
                            <label for="input1"><b>Give your Gender</b></label>
                            <input placeholder="1 Or 0" name="input1" id="input1" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input2"><b>Give your Age</b></label>
                            <input id="input2" name="input2" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Do you smoke ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Do you eat betel nuts ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Do you use alcohol ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Does your mouth smell bad ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Does the mouth somtimes bleeding ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Do you have red or white patches in your mouth ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Do you have lumps in your neack ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Do you somtimes feel pain in your mouth ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Do you somtimes feel numbness in your mouth ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Do you feel a burning sensation in your mouth ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Do you have any painless ulcers ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Do you suffer from swallowing difficulties ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input3"><b>Have your appetite decreased significantly ?</b></label>
                            <input id="input3" name="input3" placeholder="1 Or 0" type="text" class="form-control">
                        </div>

                    </div>


                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-secondary btn-lg">Predict Probability</button>
                    </div>
                </form>
            </div>

            <br/> {{pred}} <br/>
            <br><br>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>
