<%- include("partials/header"); -%>

<div class="container form-body">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="text-center">Let's Check Your Cancer Probability</h1>

      <div class="row">
        <form action='/predict' method="post" onsubmit="return validateForm();" class="col-md-8 offset-md-2">

          <div class="form-row ro">

            <div class="form-group col-md-4">
              <label for="input1"><b>Give your Gender</b></label>
              <select class="form-control" name="GENDER" required>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input2"><b>Give your Age</b></label>
              <input id="input2" name="AGE" type="text" class="form-control">
            </div>


            <div class="form-group col-md-4">
              <label for="input3"><b>Do you smoke ?</b></label>
              <select class="form-control" name="SMOKING" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input4"><b>Do you eat betel nuts ?</b></label>
              <select class="form-control" name="BETEL" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input5"><b>Do you use alcohol ?</b></label>
              <select class="form-control" name="ALCOHOL" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input6"><b>Does your mouth smell bad ?</b></label>
              <select class="form-control" name="BAD_BREATH" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input7"><b>Does the mouth somtimes bleeding ?</b></label>
              <select class="form-control" name="SUDDEN_BLEEDING" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input8"><b>Do you have red or white patches in your mouth ?</b></label>
              <select class="form-control" name="READ_WHITE_PATCH" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input9"><b>Do you have lumps in your neack ?</b></label>
              <select class="form-control" name="NECK_LUMP" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input10"><b>Do you somtimes feel pain in your mouth ?</b></label>
              <select class="form-control" name="PAIN" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input11"><b>Do you somtimes feel numbness in your mouth ?</b></label>
              <select class="form-control" name="NUMBNESS" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input12"><b>Do you feel a burning sensation in your mouth ?</b></label>
              <select class="form-control" name="BURNING_SENSATION" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input13"><b>Do you have any painless ulcers ?</b></label>
              <select class="form-control" name="PAINLESS_ULCERATION" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input14"><b>Do you suffer from swallowing difficulties ?</b></label>
              <select class="form-control" name="SWALLOWING_DIFFICULTY" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input15"><b>Have your appetite decreased significantly ?</b></label>
              <select class="form-control" name="LOSS_APPETITE" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>
          </div>


          <div class="row justify-content-center">
            <button type="submit" class="btn btn-secondary btn-lg">Predict Probability</button>
          </div>
        </form>
      </div>

      <br>
      <% if (pred && typeof probabilityPercentage !== 'undefined') { %>
        <div class="alert <%= probabilityPercentage > 50 ? 'alert-danger' : 'alert-success' %>" role="alert">
            <%= pred %>
        </div>
      <% } %>
       <br>
      <br><br>
    </div>
  </div>
</div>

<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-3 border-top position-static">
  <span>&copy;Oral Cancer Predictor. All Rights Reserved</span>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>

  function validateForm() {
    var age = document.getElementById('input2').value;
    if (isNaN(age) || age <= 0) {
      alert('Please enter a valid age');
      return false;
    }else{
      return true;
    }
  }

</script>

</body>

</html>
