<%- include("partials/header"); -%>

<div class="container form-body">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="text-center">Let's Check Your Cancer Probability</h1>

      <div class="row">
        <form action='/predict' method="post" class="col-md-8 offset-md-2">

          <div class="form-row ro">

            <div class="form-group col-md-4">
              <label for="input1"><b>Give your Gender</b></label>
              <select class="form-control" name="GENDER">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input2"><b>Give your Age</b></label>
              <input id="input2" name="AGE" type="text" class="form-control">
            </div>


            <div class="form-group col-md-4">
              <label for="input3"><b>Do you smoke ?</b></label>
              <select class="form-control" name="SMOKING">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input4"><b>Do you eat betel nuts ?</b></label>
              <select class="form-control" name="BETEL">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input5"><b>Do you use alcohol ?</b></label>
              <select class="form-control" name="ALCOHOL">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input6"><b>Does your mouth smell bad ?</b></label>
              <select class="form-control" name="BAD_BREATH">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input7"><b>Does the mouth somtimes bleeding ?</b></label>
              <select class="form-control" name="SUDDEN_BLEEDING">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input8"><b>Do you have red or white patches in your mouth ?</b></label>
              <select class="form-control" name="READ_WHITE_PATCH">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input9"><b>Do you have lumps in your neack ?</b></label>
              <select class="form-control" name="NECK_LUMP">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input10"><b>Do you somtimes feel pain in your mouth ?</b></label>
              <select class="form-control" name="PAIN">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input11"><b>Do you somtimes feel numbness in your mouth ?</b></label>
              <select class="form-control" name="NUMBNESS">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input12"><b>Do you feel a burning sensation in your mouth ?</b></label>
              <select class="form-control" name="BURNING_SENSATION">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input13"><b>Do you have any painless ulcers ?</b></label>
              <select class="form-control" name="PAINLESS_ULCERATION">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input14"><b>Do you suffer from swallowing difficulties ?</b></label>
              <select class="form-control" name="SWALLOWING_DIFFICULTY">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="input15"><b>Have your appetite decreased significantly ?</b></label>
              <select class="form-control" name="LOSS_APPETITE">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
            </div>
          </div>


          <div class="row justify-content-center">
            <button type="submit" class="btn btn-secondary btn-lg">Predict Probability</button>
          </div>
        </form>
      </div>

      <br>
      <% if (pred && typeof probabilityPercentage !== 'undefined') { %>
        <div class="alert <%= probabilityPercentage > 50 ? 'alert-danger' : 'alert-success' %>" role="alert">
            <%= pred %>
        </div>
      <% } %>
       <br>
      <br><br>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
