@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

.form-container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   padding-bottom: 60px;
   background: #eee;
}

.login-form {
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.login-form h3 {
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color: #333;
}

.login-form input,
.login-form select {
   width: 100%;
   padding: 10px 15px;
   font-size: 17px;
   margin: 8px 0;
   background: #eee;
   border-radius: 5px;
}

.login-form select option {
   background: #fff;
}

.big-btn {
   margin-top: 6px;
}

.redirect-to {
   margin-top: 13px;
}

.form-container .social-buttons {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   padding-left: 160px;
   padding-right: 160px;
}

.form-container .social-button {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   border-radius: 50%;
   width: 100px;
   height: 50px;
   margin-right: 5px;
}

.form-container .social-logo {
   max-width: 100%;
   max-height: 100%;
}

.form-container .social-button:hover {
   width: 300px;
}
