@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading{
    text-align: center;
    margin-top: 70px;
  }

  .image-div{
    text-align: center;
    margin-top: 20px;
  }

  .image{
    max-width: 600px;
  }

  .pharagraph-text{
    margin-top: 20px;
  }

  .form-body{
    padding-top: 40px;
  }

  .ro {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .table-start{
    margin-top: 100px;
  }

  .footer-text{
    text-align: center;
  }

  .table-start tbody td:nth-child(2),
  .table-start thead th:nth-child(1),
  .table-start thead th:nth-child(2),
  .table-start thead th:nth-child(3),
  .table-start thead th:nth-child(4),
  .table-start thead th:nth-child(5),
  .table-start thead th:nth-child(6),
  .table-start thead th:nth-child(7),
  .table-start thead th:nth-child(8),
  .table-start thead th:nth-child(9),
  .table-start thead th:nth-child(10),
  .table-start thead th:nth-child(11),
  .table-start thead th:nth-child(12),
  .table-start thead th:nth-child(13),
  .table-start thead th:nth-child(14),
  .table-start thead th:nth-child(15),
  .table-start thead th:nth-child(16),
  .table-start thead th:nth-child(17){
    vertical-align: top;
  }

  .th-td-style{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
